/* @font-face {
    font-family: charter;
    src: url('../fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: charter;
    src: url('../fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
} */

:root {
    font-size: 18px;
    --white30: white;
    --white20: #A5A3A5;
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #616161;
    --black: #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--gray30);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /* font-family: charter; */
}

a {
    color: var(--gray30);
}

header {
    font-size: 14px;
    /* width: 188px; */
    color: var(--gray10);
    /* position: absolute; */
    /* top: 64px;
    left: -232px; */
    /* z-index: 1; */
    /* background: red; */
}

header a {
    color: var(--gray10);
    text-decoration: none;
}

header a:hover {
    color: var(--gray30);
}

nav details summary {
    font-weight: bold;
    line-height: 24px;
}

header li {
    margin-bottom: 16px;
}

h1 {
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 16px;
    font-weight: normal;
}


/* h1~p {
    background: red;
    margin-bottom: 64px;
} */

hr {
    margin: 64px 0
}

h2 {
    font-size: 2em;
    margin: 64px 0 40px;
    font-weight: normal;
}

h3 {
    font-size: 1.5em;
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: normal;
    position: sticky;
    top: 0;
    background: white;
}

pre {
    background: #FEC62E;
    padding: 40px;
    font-family: 'Roboto';
    line-height: 24px;
    overflow: auto;
    font-size: 16px;
}

blockquote {
    font-size: 24px;
    margin: 32px 0;
    padding-left: 16px;
    line-height: 24px;
    border-left: 4px solid var(--gray30);
}

blockquote span {
    color: var(--gray10);
}

blockquote span::before {
    content: '-';
}

.header {
    margin-top: 16px;
}

.header-content {
    padding: 0 20px;
}

.wrapper {
    max-width: 902px;
    margin: auto;
}

.main-content {
    background: white;
    padding: 0 16px;
}

.nav-header {
    display: none;
}

.hero {
    background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url(../images/pattern.png);
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
    height: 350px;
}

.section-content {
    margin-top: 64px;
}

.section-content:first-of-type {
    margin: 0;
}

.section-content ol li {
    line-height: 24px;
}

.section-content ul li {
    margin-bottom: 16px;
}

.section-content {
    counter-reset: titleList;
}

.section-content+hr {
    display: none;
}

.section-content img {
    display: block;
    margin-top: 40px;
    max-width: 100%;
}

.section-content h3 {
    counter-increment: titleList;
    /* background: red; */
    padding-bottom: 8px;
}

.section-content h3::before {
    content: counter(titleList, decimal)'. ';
}

.section-content h3::after {
    content: '';
    width: 80px;
    height: 4px;
    background: var(--gray30);
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
}

.slider-container {
    /* border: 1px solid purple; */
    /* block-size: 100px; */
    display: block;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}

.video {
    margin: 0;
    /* border: 1px solid blue; */
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.slider-bullet-list {
    text-align: center;
    margin-block-start: 10px;
}

.slider-bullet {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
}

.link-variant {
    margin-bottom: 48px;
}

.link-variant p {
    margin-top: 0;
}

.link-variant ul {
    list-style: none;
    padding-left: 8px;
}

.link-variant ul li {
    padding-left: 8px;
}

.active {
    background: var(--black);
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px;
}

.active a {
    color: var(--white30);
}

.form {
    padding-bottom: 40px;
}

.form input {
    width: 337px;
    border: 1px solid var(--white20);
    background: var(--white30);
    box-sizing: border-box;
    border-radius: 30px;
    padding-inline: 16px;
    padding-block: 12px;
    color: var(--black);
    font-size: 16px;
    display: block;
    margin-block-end: 24px;
    outline: none;
}

.form input[type="submit"] {
    -webkit-appearance: none;
    background: var(--black);
    color: var(--white30);
    border: none;
    padding: 12px 16px;
    width: 119px;
    height: 44px;
}

.form input::-webkit-input-placeholder {
    color: var(--white20);
}

.submit-button {
    position: relative;
    display: inline-block;
}

.submit-button input[type="submit"] {
    position: absolute;
    top: 0;
    left: 218px;
}

footer {
    background: #212429;
}

.footer-content {
    font-style: 32px;
    text-align: center;
    color: var(--white30);
    padding-top: 48px;
    padding-bottom: 51px;
}

.footer-content p {
    margin-top: 0;
    margin-bottom: 19px;
}

.footer-content span img:first-of-type {
    margin-left: 0;
}

.footer-content span img {
    margin-left: 22px;
}

@media screen and (min-width:1366px) {
    .hero {
        block-size: 350px;
    }
    .header {
        position: sticky;
        top: 0;
        top: -45px;
    }
    .header-content {
        position: relative;
        top: 65px;
        padding-inline: 0;
    }
    .nav-header {
        display: block;
    }
    header {
        position: absolute;
        top: 0;
        left: -208px;
        /* left: -208px; */
        width: 188px;
        /* top: 188px; */
    }
    h1 {
        font-size: 60px;
        margin-top: 64px;
    }
    h3 {
        font-size: 1.5em;
        margin-top: 40px;
        margin-bottom: 16px;
        font-weight: normal;
        position: sticky;
        top: 0;
        background: white;
    }
    .footer-content {
        padding-bottom: 61px;
    }
    .form input {
        display: inline-block;
        width: 280px;
    }
}